---
import { storyblokEditable, useStoryblokApi } from '@storyblok/astro'

const { blok } = Astro.props;
const storyblokApi = useStoryblokApi();

const { data: posts } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'blogPost',
  sort_by: 'first_published_at:desc',
});
---
<section {...storyblokEditable(blok)} class="wrapper">
    <ul>
        {posts.stories.map(post => (
        <li>
            <a href={`/${post.full_slug}`} class="image">
                {post.content.image && <img src={`${post.content.image.filename}/m/600x600`} alt={post.content.image.alt} />}    
            </a>
            <div class="flow">
                <time class="eyebrow">{new Date(post.first_published_at ?? post.published_at ?? post.created_at).toLocaleDateString("en-GB", {dateStyle: "long"})}</time>
                <h3><a href={`/${post.full_slug}`}>{post.content.title}</a></h3>
                <p>{post.content.description}</p>
            </div>
        </li>
        ))}
    </ul>
</section>
<style lang="scss">
    ul {
        max-inline-size: 52rem;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: grid;
            gap: var(--gutter, 2rem);

            + li {
                margin-top: clamp(3rem, -0.2308rem + 9.2308vw, 6rem);
            }
        }

        .image {
            display: block;
            background-color: rgba(#eee, 0.1);
            width: 100%;
            aspect-ratio: 4 / 3;
            border: 2px inset var(--c-primary);
            outline: 2px inset var(--c-primary);
            outline-offset: 1px;
            overflow: hidden;
            transition: outline-color 100ms linear 0ms,
                        border-color 100ms linear 100ms;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 300ms ease;
            }

            &:hover {
                border-color: var(--c-orange);
                outline-color: var(--c-orange);
                transition: border-color 100ms linear 0ms,
                            outline-color 100ms linear 100ms;

                img {
                    transform: scale(1.1);
                }
            }
        }

        h3 {
            font-size: var(--s-xxl);

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        @media (min-width: 42rem) {
            li {
                grid-template-columns: 1fr 3fr;
            }
            .image {
                aspect-ratio: 3 / 4;
            }
        }
    }
</style>