---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import '../styles/dracula-prism.scss';

const { blok } = Astro.props;
const content = renderRichText(blok.content);
---
<main {...storyblokEditable(blok)} id="main-content" tabindex="-1">
    <article class="prose">
        {blok.image && <div class="hero-image">
             <img src={`${blok.image.filename}/m/800x450/smart`} alt={blok.image.alt} />  
        </div>}
        <h1>{blok.title}</h1>
        <p>{blok.description}</p>
        <Fragment set:html={content} />
    </article>
</main>
<script src="../js/prism.js"></script>
<style lang="scss">
    .hero-image {
        background-color: rgba(#eee, 0.1);
        width: 100%;
        aspect-ratio: 16 / 9;
        border: 2px inset var(--c-primary);
        outline: 2px inset var(--c-primary);
        outline-offset: 1px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        + h1 {
            --flow-space: clamp(3rem, -0.2308rem + 9.2308vw, 6rem);
        }
    }
    main {
        margin-top: clamp(3rem, -0.2308rem + 9.2308vw, 6rem);
    }
</style>