---
import 'swiper/swiper-bundle.css';
import { Image } from 'astro:assets';
import italiaconti from '../assets/projects/italiaconti.jpg';
import pecorino from '../assets/projects/pecorino.jpg';
import capital from '../assets/projects/capital.jpg';
import lukeandsammie from '../assets/projects/lukeandsammie.jpg';
import radar from '../assets/projects/radar.jpg';
import newforest from '../assets/projects/newforest.jpg';
---
<div class="projects-image">
    <div class="swiper">
        <div class="controls">
            <div class="swiper-button-prev">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 3.5V4.5H2V5.5H1V4.5H0V3.5H1V2.5H2V3.5H8ZM3 1.5H2V2.5H3V1.5ZM3 1.5H4V0.5H3V1.5ZM3 6.5H2V5.5H3V6.5ZM3 6.5H4V7.5H3V6.5Z" fill="#FCD2A4"/>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 3.5V4.5H6V5.5H7V4.5H8V3.5H7V2.5H6V3.5H0ZM5 1.5H6V2.5H5V1.5ZM5 1.5H4V0.5H5V1.5ZM5 6.5H6V5.5H5V6.5ZM5 6.5H4V7.5H5V6.5Z" fill="#FCD2A4"/>
                </svg>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="top-bar">
                    <a href="https://www.italiaconti.com" target="_blank" class="url">italiaconti.com</a>
                    <a href="https://www.italiaconti.com" target="_blank" class="icon" aria-label="Italia Conti">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 4.5V0.5H5.5V1.5H7.5V2.5H6.5V3.5H5.5V4.5H4.5V5.5H3.5V6.5H4.5V5.5H5.5V4.5H6.5V3.5H7.5V2.5H8.5V4.5H9.5ZM4.5 1.5H0.5V9.5H8.5V5.5H7.5V8.5H1.5V2.5H4.5V1.5Z" fill="#FCD2A4"/>
                        </svg>
                    </a>
                </div>
                <a href="https://www.italiaconti.com" target="_blank" class="image" aria-label="Italia Conti">
                    <Image src={italiaconti} loading="eager" alt="Italia Conti" />
                </a>
            </div>
            <div class="swiper-slide">
                <div class="top-bar">
                    <a href="https://pecorinoitalian.co.uk/" target="_blank" class="url">pecorinoitalian.co.uk</a>
                    <a href="https://pecorinoitalian.co.uk/" target="_blank" class="icon" aria-label="Pecorino">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 4.5V0.5H5.5V1.5H7.5V2.5H6.5V3.5H5.5V4.5H4.5V5.5H3.5V6.5H4.5V5.5H5.5V4.5H6.5V3.5H7.5V2.5H8.5V4.5H9.5ZM4.5 1.5H0.5V9.5H8.5V5.5H7.5V8.5H1.5V2.5H4.5V1.5Z" fill="#FCD2A4"/>
                        </svg>
                    </a>
                </div>
                <a href="https://pecorinoitalian.co.uk/" target="_blank" class="image" aria-label="Pecorino">
                    <Image src={pecorino} loading="eager" alt="Pecorino" />
                </a>
            </div>
            <div class="swiper-slide">
                <div class="top-bar">
                    <a href="https://www.capitallaw.co.uk/" target="_blank" class="url">capitallaw.co.uk</a>
                    <a href="https://www.capitallaw.co.uk/" target="_blank" class="icon" aria-label="Capital Law">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 4.5V0.5H5.5V1.5H7.5V2.5H6.5V3.5H5.5V4.5H4.5V5.5H3.5V6.5H4.5V5.5H5.5V4.5H6.5V3.5H7.5V2.5H8.5V4.5H9.5ZM4.5 1.5H0.5V9.5H8.5V5.5H7.5V8.5H1.5V2.5H4.5V1.5Z" fill="#FCD2A4"/>
                        </svg>
                    </a>
                </div>
                <a href="https://www.capitallaw.co.uk/" target="_blank" class="image" aria-label="Capital Law">
                    <Image src={capital} loading="eager" alt="Capital Law" />
                </a>
            </div>
            <div class="swiper-slide">
                <div class="top-bar">
                    <a href="https://lukeandsammie.com/" target="_blank" class="url">lukeandsammie.com</a>
                    <a href="https://lukeandsammie.com/" target="_blank" class="icon" aria-label="Luke and Sammie">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 4.5V0.5H5.5V1.5H7.5V2.5H6.5V3.5H5.5V4.5H4.5V5.5H3.5V6.5H4.5V5.5H5.5V4.5H6.5V3.5H7.5V2.5H8.5V4.5H9.5ZM4.5 1.5H0.5V9.5H8.5V5.5H7.5V8.5H1.5V2.5H4.5V1.5Z" fill="#FCD2A4"/>
                        </svg>
                    </a>
                </div>
                <a href="https://lukeandsammie.com/" target="_blank" class="image" aria-label="Luke and Sammie">
                    <Image src={lukeandsammie} loading="eager" alt="Luke and Sammie" />
                </a>
            </div>
            <div class="swiper-slide">
                <div class="top-bar">
                    <a href="https://www.radarfestival.co.uk/" target="_blank" class="url">radarfestival.co.uk</a>
                    <a href="https://www.radarfestival.co.uk/" target="_blank" class="icon" aria-label="RADAR Festival">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 4.5V0.5H5.5V1.5H7.5V2.5H6.5V3.5H5.5V4.5H4.5V5.5H3.5V6.5H4.5V5.5H5.5V4.5H6.5V3.5H7.5V2.5H8.5V4.5H9.5ZM4.5 1.5H0.5V9.5H8.5V5.5H7.5V8.5H1.5V2.5H4.5V1.5Z" fill="#FCD2A4"/>
                        </svg>
                    </a>
                </div>
                <a href="https://www.radarfestival.co.uk/" target="_blank" class="image" aria-label="RADAR Festival">
                    <Image src={radar} loading="eager" alt="RADAR Festival" />
                </a>
            </div>
            <div class="swiper-slide">
                <div class="top-bar">
                    <a href="https://www.newforestactivities.co.uk/" target="_blank" class="url">newforestactivities.co.uk</a>
                    <a href="https://www.newforestactivities.co.uk/" target="_blank" class="icon" aria-label="New Forest Activities">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 4.5V0.5H5.5V1.5H7.5V2.5H6.5V3.5H5.5V4.5H4.5V5.5H3.5V6.5H4.5V5.5H5.5V4.5H6.5V3.5H7.5V2.5H8.5V4.5H9.5ZM4.5 1.5H0.5V9.5H8.5V5.5H7.5V8.5H1.5V2.5H4.5V1.5Z" fill="#FCD2A4"/>
                        </svg>
                    </a>
                </div>
                <a href="https://www.newforestactivities.co.uk/" target="_blank" class="image" aria-label="New Forest Activities">
                    <Image src={newforest} loading="eager" alt="New Forest Activities" />
                </a>
            </div>
        </div>
        <div class="autoplay-progress">
            <svg viewBox="0 0 48 48">
              <circle cx="24" cy="24" r="20"></circle>
            </svg>
            <span></span>
        </div>
    </div>
</div>
<style lang="scss">
    .swiper {
		border: 1px solid #3E362F;
        user-select: none;
    }

    .swiper-slide{
        position: relative;
        width: 100%;

        a.image {
            aspect-ratio: 16/9;
            display: block;
            width: 100%;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 0%;
            }
        }
    }

    .top-bar {
		background-color: #0B120D;
        padding: 6px 8px;
        display: flex;
        justify-content: center;

        a.url {
            font-family: 'IBM Plex Mono', monospace;
            color: #FCD2A4;
            font-size: 12px;
            text-transform: lowercase;
        }

        a.icon {
            position: absolute;
            top: 0;
            right: 8px;
            padding: 2px;

            svg {
                fill: #FCD2A4;
            }
        }
    }

    .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 40px;
        height: 40px;
        background-color: #0B120D;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: 'IBM Plex Mono', monospace;
        color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 2px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
    }
    
    .controls {
        position: absolute;
        top: 9px;
        left: 8px;
        display: flex;
        gap: .5rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: relative;
        inset: auto;
        margin: 0;
        width: 12px;
        padding: 2px;
        height: auto;

        &::after {
            content: none;
        }
    }
</style>